<p class="font-bold">Light (Default)</p>
<p class="font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam voluptatibus ipsa vitae repellendus unde explicabo corporis sint reiciendis illo ut expedita.</p>

<p class="font-bold">Regular</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi molestias voluptatem expedita quisquam sequi nemo nam perferendis perspiciatis ipsa odio, vitae corporis.</p>

<p class="font-bold">Bold</p>
<p class="font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam voluptatibus ipsa vitae repellendus unde explicabo corporis sint reiciendis illo ut expedita.</p>
