<p class="color-black">.color-black</p>
<p class="color-white">.color-white</p>
<p class="color-grey">.color-grey</p>
<p class="color-grey-light">.color-grey-light</p>
<p class="color-grey-lighter">.color-grey-lighter</p>
<p class="color-grey-light-transparent">.color-grey-light-transparent</p>
<p class="color-grey-dark">.color-grey-dark</p>
<p class="color-green">.color-green</p>
<p class="color-link">.color-link</p>
<p class="color-success">.text-success</p>
<p class="color-danger">.text-danger</p>
<p class="color-warning">.text-warning</p>
<p class="color-info">.text-info</p>