<h1 class="color-green">Header in Equitrust green</h1>
<h2 class="color-grey">Header in grey</h2>
<h2 class="color-grey-light">Header in light grey</h2>
<h2 class="color-grey-dark">Header in dark grey</h2>
<p class="color-grey-light-transparent">Text in transparent grey</p>
<p class="color-grey-dark">Text in dark grey</p>
<p><a href="#">A link</a></p>
<p class="color-success">Success!</p>
<p class="color-danger">Danger!</p>
<p class="color-warning">Warning!</p>
<p class="color-info">Info!</p>